



form span {
    color: gray;
    width: 100%;
    font-size: 0.8rem;
}

.next {
    background-color: #1a73e8;
    color: white;
    width: 80px;
}

.SubHeader {
    color: #202124;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    word-break: break-word;
}

.image {
    text-align: center;
    height: 230px;
    width: 230px;
    padding: 20px;
}



.link {
    color: #1a73e8;
}

.next {
    background-color: #1a73e8;
}

.txt {
    color: #1a73e8;
}

