<div fxLayout="row wrap" fxLayoutGap="20px grid" style="padding-top:2%;padding-left:1%;width:100%;">
    <div *ngFor="let note of allnotes|searchPipe:searchWord">
        <mat-card [style.background]="note.color" class="card" fxLayout.XS="column" fxFlex.xs="95">
            <div (click)="openDialog(note)">
                <strong>{{note.title}}</strong>
                <div>{{note.description}}</div>
            </div>
            <div>
                <app-noteicon (archiveNoteToRefresh)="archive($event)" (changeColorOfNote)="message($event)"
                    (trashNoteToRefresh)="trash($event)" [iconnote]='note'></app-noteicon>
            </div>
        </mat-card>
    </div>
</div>