
<div fxflex="100" fxLayout="row" fxLayoutAlign="center center"   fxFlexFill >  
     
<mat-card class="Container">
    <div class="Center" >
        <div fxLayout="row" fxLayoutAlign="center center">
            <h1 class="header" >
                <span style='color:#1a73e8;'>F</span>
                <span style='color:rgba(255, 0, 0, 0.829);'>u</span>
                <span style='color:yellow'>n</span>
                <span style='color:#1a73e8;'>d</span>
                <span style='color:green;'>o</span>
                <span style='color:rgba(255, 0, 0, 0.822);'>o</span>
            </h1>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"><h1 class="SubHeader">Password Recovery</h1></div>
        <div fxLayout="column" fxLayoutAlign="center center"><h3 class="SubHeader1">Reset your Fundoo Account </h3></div>

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" >
        <div  fxLayout="column" fxLayoutAlign="center stretch" style="width: 400px;">
            <mat-form-field appearance="outline" >
                <mat-label>Password</mat-label>
                <input matInput formControlName='Password' placeholder="password">
                <mat-error>please enter the password</mat-error>
            </mat-form-field>
        </div>

        <div >
        <div fxLayout="row" fxLayoutAlign="start center">
            <input type="checkbox" Password="" class="checkbox">&nbsp;Show Password
        </div>

        <div fxLayout="column" fxLayoutAlign="end end"><button class="next" mat-raised-button color="blue">Next</button></div>
        
        </div>
        </form>

    </div>
</mat-card>
</div>
        
