<div fxflex="100" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="Container">
        <div class="Center">
            <div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <h1 class="header">
                        <span style='color:#1a73e8;'>F</span>
                        <span style='color:rgba(255, 0, 0, 0.829);'>u</span>
                        <span style='color:yellow'>n</span>
                        <span style='color:#1a73e8;'>d</span>
                        <span style='color:green;'>o</span>
                        <span style='color:rgba(255, 0, 0, 0.822);'>o</span>
                    </h1>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h1 class="SubHeader">Find your email</h1>
                </div>
                <br>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h3 class="SubHeaderh2">Enter your phone number or recovery email </h3>
                </div>
                <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
                    <div fxLayout="column" fxLayoutAlign="center stretch">
                        <mat-form-field appearance="outline" >
                            <mat-label>Phone number or email</mat-label>
                            <input matInput formControlName='email' placeholder="EmailOrPhone">
                            <mat-error>Enter an email or phonenumber</mat-error>
                        </mat-form-field>
                    </div>
                    <br>
                    <div fxLayout="column" fxLayoutAlign="end end">
                        <button class="next" routerLink='/resetpassword/:token' mat-raised-button
                            color="blue">Next</button>
                    </div>
                </form>
            </div>
        </div>
        </mat-card>
    </div>

